.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: $color-white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1000;
  }
  // &__icon styling can be found below

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 100;
    transform: scale(1.5);
    transition: all 0.4s;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 0%;
    opacity: 0;
    transition: all 0.4s;
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      padding: 1rem 3rem;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      background-image: linear-gradient(
        115deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 240%;
      transition: all 0.4s;

      span {
        display: inline-block;
        margin-right: 1rem;
      }
    }

    &:hover,
    &:active {
      background-position-x: 100%;
      color: $color-primary;
    }
  }

  // ICON
  &__icon {
    position: fixed;
    top: 9.5rem;
    right: 8rem;

    &,
    &:before,
    &:after {
      width: 3rem;
      height: 2px;
      background-color: $color-black;
      display: inline-block;
    }

    &:before {
      position: absolute;
      content: "";
      top: -0.8rem;
      right: 0;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0.8rem;
      right: 0rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    & {
      background-color: transparent;
    }
    &::before {
      transform: rotate(45deg);
      top: 0;
    }
    &::after {
      transform: rotate(-45deg);
      top: 0;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(50);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
}
